<h2 *ngIf="!id" class="p-3">Cria Coleção</h2>
<h2 *ngIf="id" class="p-3">Editar Coleção</h2>

<form class="form" [formGroup]="formCadastrarColecao">
    <div class="row m-4">
        <div class="col">
            <input type="text" class="form-control" formControlName="nome" placeholder="Nome da Coleção">
        </div>
        <div class="col">
            <input type="text" class="form-control" formControlName="responsavel"
                placeholder="Responsável pela coleção">
        </div>
    </div>
    <div class="row m-4">
        <div class="col">
            <input type="text" class="form-control" formControlName="estacao" placeholder="Para qual Estação?">
        </div>
        <div class="col">
            <input type="text" class="form-control" formControlName="marca"
                placeholder="Para qual marca você está criando?">
        </div>
    </div>
    <div class="row m-4">
        <div class="col">
            <input type="text" class="form-control" formControlName="orcamento"
                placeholder="Qual é o orçmanento desta coleção">
        </div>
        <div class="col">
            <input type="text" class="form-control" formControlName="lancamento" placeholder="Ano de Lançamento">
        </div>
    </div>
    <div class="d-flex justify-content-center m-5">
        <img src="../../../../assets/imagem_manequim.png" alt="Imagem Manequim">
    </div>

    <div class="row p-3">
        <div class="col-sm-1"></div>
        <button type="button" class="btn btn-danger col-sm-1" *ngIf="id" (click)="excluirColecao(id)">Excluir</button>
        <div class="col-sm-2" *ngIf="!id"></div>
        <div class="col-sm-6"></div>
        <button class="btn btn-secondary col-sm-1" routerLink="/home/colecoes">Cancelar</button>
        <div class="col-sm-1"></div>
        <button type="button" class="btn btn-primary col-sm-1" *ngIf="!id" (click)="onSubmit()">Cadastrar</button>
        <button type="button" class="btn btn-primary col-sm-1" *ngIf="id" (click)="onSubmit()">Atualizar</button>
    </div>
</form>


    
