<h2 *ngIf="!id" class="p-3">Cria Coleção</h2>
<h2 *ngIf="id" class="p-3">Editar Coleção</h2>

<form class="form" [formGroup]="formCadastrarColecao">
    <div class="row m-4">
        <div class="col">
            <input type="text" class="form-control" formControlName="nome" placeholder="Nome da Coleção">
        </div>
        <div class="col">
            <input type="text" class="form-control" formControlName="responsavel"
                placeholder="Responsável pela coleção">
        </div>
    </div>
    <div class="row m-4">
        <div class="col">
            <input type="text" class="form-control" formControlName="estacao" placeholder="Para qual Estação?">
        </div>
        <div class="col">
            <input type="text" class="form-control" formControlName="marca"
                placeholder="Para qual marca você está criando?">
        </div>
    </div>
    <div class="row m-4">
        <div class="col">
            <input type="text" class="form-control" formControlName="orcamento"
                placeholder="Qual é o orçmanento desta coleção">
        </div>
        <div class="col">
            <input type="text" class="form-control" formControlName="lancamento" placeholder="Ano de Lançamento">
        </div>
    </div>
    <div class="d-flex justify-content-center m-5">
        <img src="../../../../assets/imagem_manequim.png" alt="Imagem Manequim">
    </div>

    <div class="d-grid gap-2 d-md-block m-4">
        <button type="button" class="btn btn-danger" *ngIf="id" (click)="excluirColecao(id)">Excluir</button>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end m-4">
        <button type="button" class="btn btn-secondary" routerLink="/home/colecao">Cancelar</button>
        <button type="button" class="btn btn-primary" *ngIf="!id" (click)="onSubmit()">Salvar</button>
        <button type="button" class="btn btn-primary" *ngIf="id" (click)="onSubmit()">Atualizar</button>
    </div>
</form>

    
