<h2 class="p-3">Dashboard</h2>

<div class=" justify-content-between p-4 d-flex flex-wrap">
    <app-cards [titulo]="'Coleções'" [body]="colecaoList.length"></app-cards>
    <app-cards [titulo]="'Modelos'" [body]="modeloList.length"></app-cards>
    <app-cards [titulo]="'Orçamento Médio (R$)'" [body]="mediaOrc.toFixed(2)"></app-cards>
</div>

<div class="d-flex justify-text-center m-3 p-3">
    <table class="table table-hover table-sm table-responsive-sm">
        <thead>
            <tr>
                <th>Coleção</th>
                <th>Responsável</th>
                <th>Modelos</th>
                <th>Orçamento</th>
            </tr>
        </thead>
        <tbody class="table-group-divider" style="height: 100px">
            <tr *ngFor="let colecaoItem of colecaoList.slice(0,5) index as i">
                <td>{{ colecaoItem.nome }}</td>
                <td>{{ colecaoItem.responsavel }}</td>
                <td>{{ quantidadeModelos[i] }}</td>
                <td>R$ {{ colecaoItem.orcamento }}</td>
            </tr>
        </tbody>
    </table>
</div>