<p>Total Coleção: {{ totalColecao }}</p>
<p>Total Modelo: {{ totalModelo }}</p>
<p>Média Orçamento: R$ {{ mediaOrc.toFixed(2) }}</p>
<table>
    <tr>
        <th>Nome</th>
        <th>Responsável</th>
        <th>Modelos</th>
        <th>Orçamento</th>
    </tr>
    <tr *ngFor="let colecaoItem of colecaoList.slice(0,5) index as i">
        <td>{{ colecaoItem.nome }}</td>
        <td>{{ colecaoItem.responsavel }}</td>
        <td>{{ quantidadeModelos[i] }}</td>
        <td>R$ {{ colecaoItem.orcamento }}</td>
    </tr>
</table>

