<img src="../../../assets/user.png" type="button" class="btn dropdown-toggle float-end" data-bs-toggle="dropdown">
<nav style="height: 40px;" class="navbar bg-body-tertiary">
    <div class="dropdown dropdown-menu-start">
        <ul class="dropdown-menu dropstart">
            <li><a class="dropdown-item" href="/cadastro" routerLinkActive="selected">Conta</a></li>
            <li><a class="dropdown-item">Configurações</a></li>
            <li><a class="dropdown-item" routerLink="/login" routerLinkActive="selected"><i
                        class="fab fa-solid fa-right-from-bracket"></i>Sair</a></li>
        </ul>
    </div>
</nav>

<app-menu></app-menu>
<router-outlet></router-outlet>