<h2 *ngIf="!id" class="p-3">Criar Modelo</h2>
<h2 *ngIf="id" class="p-3">Editar Modelo</h2>

<form class="form" [formGroup]="formCadastrarModelo">
    <div class="row m-4">
        <div class="col">
            <input type="text" class="form-control" formControlName="nome" placeholder="Nome do Modelo">
        </div>
        <div class="col">
            <select class="form-select" formControlName="tipo">
                <option [selected]="'selected'" disabled>Tipo do modelo</option>
                <option value="bermuda">Bermuda</option>
                <option value="biquini">Biquini</option>
                <option value="bolsa">Bolsa</option>
                <option value="bone">Boné</option>verão
                <option value="calca">Calça</option>
                <option value="calcados">Calçados</option>
                <option value="camisa">Camisa</option>
                <option value="chapeu">Chapéu</option>
                <option value="cinto">Cinto</option>
                <option value="saia">Saia</option>
            </select>
        </div>
    </div>
    <div class="row m-4">
        <div class="col">
            <select class="form-select" formControlName="colecao">
                <option [selected]="'selected'" disabled>Selecionar Coleção</option>
                <option *ngFor="let colecao of colecaoList" [value]="colecao.id">{{ colecao.nome }}</option>
            </select>
        </div>
        <div class="col">
            <input type="text" class="form-control" formControlName="responsavel" placeholder="Responsável pelo modelo">
        </div>
    </div>
    <div class="row m-4">
        <div class="col">
            <span>Possui bordado?</span>
            <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="combordado" formControlName="bordado" value="sim">
                <label class="form-check-label">Sim</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="sembordado" formControlName="bordado" value="nao">
                <label class="form-check-label">Não</label>
            </div>
        </div>
        <div class="col">
            <span>Possui Estampa?</span>
            <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="comestampa" formControlName="estampa" value="sim">
                <label class="form-check-label">Sim</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="semestampa" formControlName="estampa" value="nao">
                <label class="form-check-label">Não</label>
            </div>
        </div>
    </div>

    <div class="row p-3">
        <div class="col-sm-1"></div>
        <button type="button" class="btn btn-danger col-sm-1" *ngIf="id" (click)="excluirModelo(id)">Excluir</button>
        <div class="col-sm-2" *ngIf="!id"></div>
        <div class="col-sm-6"></div>
        <button class="btn btn-secondary col-sm-1" routerLink="/home/modelo">Cancelar</button>
        <div class="col-sm-1"></div>
        <button type="button" class="btn btn-primary col-sm-1" *ngIf="!id" routerLink="/home/modelo" (click)="onSubmit()">Salvar</button>
        <button type="button" class="btn btn-primary col-sm-1" *ngIf="id" (click)="onSubmit()">Atualizar</button>
    </div>
</form>