<button type="button" class="btn btn-primary" routerLink="/home/modelo">Voltar</button>

<form class="form" [formGroup]="formCadastrarModelo">
    <div>
        <label>Nome:</label>
        <input placeholder="Nome" formControlName="nome">
    </div>
    <div>
        <label>Tipo:</label>
        <input placeholder="Tipo" formControlName="tipo">
    </div>
    <div>
        <label>Coleção:</label>
        <input placeholder="Coleção" formControlName="colecao">
    </div>
    <div>
        <label>Responsável:</label>
        <input placeholder="Responsável" formControlName="responsavel">
    </div>
    <div>
        <label>Bordado:</label>
        <input placeholder="Bordado" formControlName="bordado">
    </div>
    <div>
        <label>Estampa:</label>
        <input placeholder="Estampa" formControlName="estampa">
    </div>
    <div>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" *ngIf="!id">Cadastrar</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" *ngIf="id">Editar</button>
        <button type="button" class="btn btn-primary" *ngIf="id" (click)="excluirModelo(id)">Deletar</button>
    </div>
</form>
