<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    <a  href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img id="logo" src="./../../../assets/audaces.png" class="fs-4">
    </a>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
          Menu
      </li>
      <li>
        <a class="nav-link link-body-emphasis" routerLink="dashboard" routerLinkActive="selected">
          Dashboard
        </a>
      </li>
      <li>
        <a class="nav-link link-body-emphasis" routerLink="colecao" routerLinkActive="selected">
          Coleções
        </a>
      </li>
      <li>
        <a class="nav-link link-body-emphasis" routerLink="modelo" routerLinkActive="selected">
          Modelos
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          Obter Ajuda
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          Comentários
        </a>
      </li>
    </ul>
    <hr>
  </div>
