<!-- <img src="../../../assets/user.png" type="button" class="btn dropdown-toggle float-end" data-bs-toggle="dropdown">
<nav style="height: 40px;" class="navbar bg-body-tertiary">
  <div class="dropdown dropdown-menu-start">
    <ul class="dropdown-menu dropstart">
      <li><a class="dropdown-item" href="/cadastro" routerLinkActive="selected">Conta</a></li>
    <li><a class="dropdown-item">Configurações</a></li>
    <li><a class="dropdown-item" routerLink="/login" routerLinkActive="selected"><i class="fab fa-solid fa-right-from-bracket"></i>Sair</a></li>
    </ul>
  </div> 
</nav>

<main class="d-flex flex-nowrap"> 
<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px; height: 100%;">
  <img id="audacesLogo" src="../../../assets/audaces.png">  
  <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">Menu</li>
      <li>
        <a class="nav-link link-body-emphasis" routerLink="dashboard" routerLinkActive="selected">
          Dashboard
        </a>
      </li>
      <li>
        <a class="nav-link link-body-emphasis" routerLink="colecao" routerLinkActive="selected">
          Coleções
        </a>
      </li>
      <li>
        <a class="nav-link link-body-emphasis" routerLink="modelo" routerLinkActive="selected">
          Modelos
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          Obter Ajuda
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          Comentários
        </a>
      </li>
    </ul>
  </div>
</main> -->
