.d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 51px 40px;
    gap: 40px;

    position: absolute;
    width: 332.07px;
    height: 800px;
    left: 0px;
    top: 0px;
}

.nav {
    gap: 25px;
}

#audacesLogo {
    margin-top: 70px;
}