<div class="d-flex flex-column flex-shrink-0 p-3 bg-light vh-100">
  <a class="d-flex align-items-center mb-3 me-md-auto link-dark text-decoration-none mt-5">
    <img src="../../../assets/audaces.png" alt="Logo Audaces" width="168px" height="32px">
  </a>
  <ul class="nav nav-pills flex-column mb-auto mt-5">
    <li class="nav-item mb-2">
      <a class="nav-link link-dark" routerLinkActive="active" aria-current="page" routerLink="dashboard">
        Dashboard
      </a>
    </li>
    <li class="mb-2">
      <a class="nav-link link-dark" routerLinkActive="active" routerLink="colecao">
        Coleções
      </a>
    </li>
    <li class="mb-2">
      <a class="nav-link link-dark" routerLinkActive="active" aria-current="page" routerLink="modelo">
        Modelos
      </a>
    </li>
    <li class="mb-2">
      <a class="nav-link link-dark">
        Obter Ajuda
      </a>
    </li>
    <li class="mb-2">
      <a class="nav-link link-dark">
        Comentários
      </a>
    </li>
  </ul>
</div>
