<button routerLink="cadastrar">Criar Modelo</button>

<table class="table table-striped table-hover table-responsive-sm">
    <thead>
        <tr>
            <th>ModeloId</th>
            <th>Nome do Modelo</th>
            <th>Responsável</th>
            <th>Coleçao</th>
        </tr>
    </thead>
    <tbody class="table-group-divider" style="height: 100px">
        <tr *ngFor="let modeloItem of modeloList" (click)="editarModelo(modeloItem.id)">
            <td>{{ modeloItem.id }}</td>
            <td>{{ modeloItem.nome }}</td>
            <td>{{ modeloItem.responsavel }}</td>
            <td>{{ modeloItem.colecao }}</td>
        </tr>
    </tbody>
</table>
