<button routerLink="cadastrar">Cadastrar</button>
<button routerLink="editar">Editar</button>
<p>modelo-listar works!</p>

<table>
    <tr>
        <th>ModeloId</th>
        <th>Nome</th>
        <th>Responsável</th>
        <th>Coleçao</th>
    </tr>
    <tr *ngFor="let modeloItem of modeloList" (click)="editarModelo(modeloItem.id)">
        <td>{{ modeloItem.id }}</td>
        <td>{{ modeloItem.nome }}</td>
        <td>{{ modeloItem.responsavel }}</td>
        <td>{{ modeloItem.colecao }}</td>
    </tr>
</table>